{% extends "core/base.html" %}
{% block content %}
<h1 class="text-3xl">About</h1>
<div class="mt-6 space-y-6">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, voluptate praesentium facilis iusto porro sunt obcaecati nobis? Eius laudantium autem, voluptate totam aspernatur delectus? Qui labore impedit et minus itaque!
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, voluptate praesentium facilis iusto porro sunt obcaecati nobis? Eius laudantium autem, voluptate totam aspernatur delectus? Qui labore impedit et minus itaque!
    </p>
</div>
{% endblock content %}